<div id="ilan_detay_modal" class="modal">
    <div class="modal-header">
        İlan Detayı
    </div>


    <!-- modal-body -->
    <div class="container">
        <div class="row m-5">
            <div class="detay_modal_label">
                <span>İlan Adı:</span>
            </div>
            <div class="ilan_detay_title">
                <span id="ilan_title_detay"></span>
            </div>
        </div>

        <div class="row m-5">
            <div class="detay_modal_label">
                <span>Şirket:</span>
            </div>
            <div class="ilan_detay_title">
                <span id="ilan_company_detay"></span>
            </div>
        </div>

        <div class="row m-5">
            <div class="detay_modal_label">
                <span>Çalışma Tipi:</span>
            </div>
            <div class="ilan_detay_title">
                <span id="ilan_type_detay"></span>
            </div>
        </div>

        <div class="row m-5">
            <div class="detay_modal_label">
                <span>Şehir:</span>
            </div>
            <div class="ilan_detay_title">
                <span id="ilan_city_detay"></span>
            </div>
        </div>

         <div class="row m-5">
            <div class="detay_modal_label">
                <span>Acıklama:</span>
            </div>
            <div class="ilan_detay_title">
                <span id="ilan_desc_detay"></span>
            </div>
        </div>

        <div class="row mt-3 pointer">
            <a id="modal_detay_close" onclick="main_page.closeModal()">Kapat</a>
        </div>
    </div>
</div>