{% extends 'layout.html' %}
{% load static %}

<!-- Title -->
{% block title %}Anasayfa{% endblock %}


<!-- Body -->
{% block body %}

    <div class="search_wrapper">
        <div id="search_title" class="search_title">
            Senin için burada <span id="ilan_count"> </span> ilan var!
        </div>
        <div class="search_body">
            <div class="form-item row aling-center mt-3">
                <div class="col-md-0">
                    <input type="text">
                </div>
                <div class="find-job row aling-center justify-center">
                    İŞ BUL
                </div>
            </div>

        </div>
    </div>
    <div id="main_body_wrapper">
        <div id="filters" class="filters-body">
            <div>
                Filtreleme
            </div>
            <div class="row mt-3">
                <div class="col-md-5">
                    <label for="filters_type">Çalışma Tipi:</label>
                </div>
                <div class="">
                    <select id="filters_type">
                        <option value="">Seçiniz</option>
                        <option value="Hibrit">Hibrit</option>
                        <option value="İş Yerinde">İş Yerinde</option>
                        <option value="Uzaktan">Uzaktan</option>
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-5">
                    <label for="filters_city">Şehir:</label>
                </div>
                <div class="">
                    <select id="filters_city">
                        <option value="">Seçiniz</option>
                        <option value="Ankara">Ankara</option>
                        <option value="İstanbul">İstanbul</option>
                        <option value="Bolu">Bolu</option>
                        <option value="Uzaktan">Uzaktan</option>
                    </select>
                </div>
            </div>


            <div class="mt-3">
                <button id="filters-ilan" onclick="main_page.filters()">Ara</button>
            </div>
        </div>


        <div id="ilanlar">
        </div>
    </div>

    {% include 'modal/main/ilan_detay.html' %}


{% endblock %}
<!-- Body -->

{% block scripts %}
    <script src="{% static 'js/main_page.js' %}"></script>
{% endblock %}